/* table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
} */

.gameBox {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 200px;
  margin: 50px;
}

.box {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #292727;
}